<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#000e0c">
  <title>{{ title or "Home" }}</title>
  <link rel="icon" href="/images/favicon.svg">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,500;0,800;1,400;1,500&display=swap" rel="stylesheet">
</head>
<body>
  {{ content | safe }}
</body>
</html>