---
layout: layout.njk
title: Coming Soon! - Euan Dandurand
---

<div class="hero">
  <div class="logo">
    <h1>Coming Soon!</h1>
    <div class="divider"></div>
    {% set showDivider = false %}
    {% include "nav.njk" %}
  </div>
</div>
{% include "footer.njk" %}