---
layout: layout.njk
title: Projects - Euan Dandurand
---

<div class="projects-hero">
  {% set showDivider="true" %}
  {% include "nav.njk" %}
</div>

<div class="projects">
  <div class="project-card">
    <a href="/projects/colored-bricks/">
      <img src="/images/colored-bricks.jpg" alt="Colored Bricks Minecraft Mod">
      <div class="project-overlay">
        <h3>Colored Bricks</h3>
        <div class="divider"></div>
        <p>Minecraft Mod</p>
      </div>
    </a>
  </div>
</div>
{% include "footer.njk" %}