---
layout: layout.njk
title: Projects - Euan Dandurand
---

<div class="projects-hero">
  {% set showDivider="true" %}
  {% include "nav.njk" %}
</div>

<div class="projects">
  <!-- Colored Bricks Mod Project Card -->
  <div class="project-card">
    <a href="/projects/colored-bricks/">
      <img src="/images/colored-bricks.jpg" alt="A picture of colored bricks from the mod.">
      <div class="project-overlay">
        <h3>Colored Bricks</h3>
        <div class="divider"></div>
        <p>Minecraft Mod</p>
      </div>
    </a>
  </div>
  <!-- MOCR (musical optical character recognition) YOLO Models Comparison -->
  <div class="project-card">
    <a href="/projects/mocr-yolo-ultralytics-model-comparison/">
      <img src="/images/mocr-yolo-test5.jpg" alt="An image of the YOLO model ran on some sheet music.">
      <div class="project-overlay">
        <h3>MOCR YOLO Ultralytics Model Comparison</h3>
        <div class="divider"></div>
        <p>a comparison of YOLO models trained to recognize sheet music symbols</p>
      </div>
    </a>
  </div>
</div>
{% include "footer.njk" %}